body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.box--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25px;
}

.box {
  width: 150px;
  height: 150px;

  margin-bottom: 10px;
}

.box:hover {
  cursor: pointer;

  /* add the color hex so they can copy it when the box is clicked on */
}

.color {
  cursor: pointer;

  color: blue;

  /* make this copiable */
}